@import '../../../styles.scss';

.network {
    background: $light-orange;
    color: $brown;
    border-radius: 8px;
    padding: 8px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}