/* You can add global styles to this file, and also import other style files */

$red: #F22929;
$brown: #8C4820;
$orange: #BF712C;
$dark-brown: #594834;
$dark: #3a3024;
$light-orange: #D9933D;
$white: #ffd9aa;

  @font-face {
    font-family: 'Sora';
    src: url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
}

body{
  background: $white;
  color: $dark-brown;
}

* {
  font-family: 'Sora', sans-serif;
  padding: 0;
  margin: 0;
}

section{
  margin-top: 40px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  h1{
    align-self: center;
    text-align: center;
    margin-bottom: 2rem;
  }
}


h1{
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

button{
  cursor: pointer;
  padding: 12px 32px;
  font-weight: 600;
  font-size: 1.05rem;
  background: $light-orange;
  border: none;
  border-radius: 8px;
  color: $dark;
  border-bottom: $orange solid 4px;
  border-right: $orange solid 4px;

  &:hover{
    border-bottom: $brown solid 2px;
    border-right: $brown solid 2px;
    margin-top: 2px;
    margin-left: 2px;
  }

  &:active{
    border:none;
    margin-top: 4px;
    margin-left: 4px;
    background: $brown;
  }

  &:hover, &:active{
    color: $white;
  }

  &.secondary{
    background: none;
    color: $light-orange;
    border: none;
    &:hover{
      color: $dark-brown;
    }
  }

  &:disabled{
    background: $dark-brown;
    opacity: 0.3;
    color: $white;
    cursor: not-allowed;
  }
}

input{
  height: 32px;
  border: none;
  outline: none;
  background: #ffd9aa;
  padding: 4px 8px;
  border-radius: 8px;
  border: 4px solid $orange;

  &:focus{
    outline: 2px solid $dark-brown;
  }
}